@import "mixins/clearfix";

$namespace: 'frm-';

.#{$namespace}input {
  display: block;
  height: 1.5em;
  width: 100%;
  box-sizing: border-box;
  background: white;
  border: 1px solid #ccc;
  resize: vertical;

  font: inherit;
  color: inherit;
}

.#{$namespace}group {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.#{$namespace}group__item {
  display: table-cell;
  vertical-align: bottom;

  &:not(:first-child) > * {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &:not(:last-child) > * {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.#{$namespace}add-on {
  display: table;
  width: 100%;
}

.#{$namespace}add-on__object,
.#{$namespace}add-on__body {
  display: table-cell;
  vertical-align: bottom;

  &:not(:first-child) > * {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &:not(:last-child) > * {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.#{$namespace}add-on__object {
  & > * {
    width: auto;
  }
}

.#{$namespace}add-on__body {
  width: 100%;

  > &:not(:last-child) > * {
    text-align: right;
  }
}

.#{$namespace}input--readonly {
  background: #eee;
}
